body {
    background-color: rgba(210, 180, 140, 0.3);
}
.picture {
      
    display:inline-block;
}
.link {
    width:26%;  
    display:inline-block;    
}
a {
    padding: 2em;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}
.textblock {
    background-color: white;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}
nav {
    text-align: center;
    font-weight: bold;
    padding-right: 15%;
}
#aboutme {
    padding-bottom: .1em;
}
#pdf-container {
    width: 100%;
    height: 100%;
    border: 1px solid #ccc;
    border-radius: 6px;
    overflow: hidden;
}