body {
    background-color: rgba(210, 180, 140, 0.3);
  }
.picture {
      
    display:inline-block;
}
.link {
    width:26%;  
    display:inline-block;
    /*height: 156px;*/
    
}
a {
    padding: 2em;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}
.textblock{
    background-color: white;
}
nav {
    text-align: center;
    font-weight: bold;
}
