body {
    background-color: rgba(210, 180, 140, 0.3);
  }
.picture {
      
    display:inline-block;
}
.link {
    width:26%;  
    display:inline-block;    
}
a {
    padding: 2em;
}
a:link {
    color: black;
    background-color: transparent;
    text-decoration: none;
}

a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: none;
}
.textblock{
    background-color: white;
}
nav {
    text-align: center;
    font-weight: bold;
    padding-right: 15%;
}
iframe {
  width: 100%; 
  max-width: 800px; 
  height: calc(90% - 0px); 
  border:2px solid black;
}
#aboutme {
    padding-bottom: .1em;
}
iframe {
  width: 100%;
  height: 90vh;
  border: none;
}
#pdf-container {
    width: 100%;
    height: 100%;
}