/* Initially hide the image */
.desktop-image {
    display: none;
  }
  body {
    background-color: rgba(210, 180, 140, 0.3);
  }
iframe {
  width: 100%; 
  max-width: 800px; 
  height: calc(90% - 0px); 
  border:2px solid black;
}
  